.results-info {
  position: fixed;
  width: 100%;
  min-height: 5%;
  overflow: hidden;
  background-color: #fff;
  top: 50px;
  box-shadow:0px 1px 1px #FFF;
  z-index: 100;
}

.results-data {
  margin: 5px;
  padding-top: 10px;
  display: inline-block;
}

.results-container {
  padding-top: 40px;
  margin-bottom: 40px;
  height: 100%;
}

.selected {
  border-color: #FFA500;
  border-width: 3px;
}
